body {
  width: 80%;
  margin: auto;
}
#zawartosc {
  padding: 0;
  margin: 0;
  width: 85%;
  float: left;
  height: 33rem;
}

#gra {
  background: url("grafika/tlo_gra.jpeg") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

}
#kwoty {
  float: left;
  text-align: center;
  width: 10%;
  height: 100%;
}
#kwoty ol {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
#kwoty li {
  color: #66ff99;
  background: #00009f;
  border: solid black .1em;
  margin-top: .1em;
  border-radius: 4rem;
  width: 100%;
  padding: 0;
  height: 7.5%;
  text-align: center;
  line-height: 100%;
}

#interfejs {
  width: 90%;
  padding: 0;
  float: left;
  margin-top: 14em;
}

#interfejs h1 {
  background: #23238E;
  color: #f6f6f6;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
}
.wiersz_gra {
  width: 100%;
  padding: 0;
  margin-top: 1em;
  float: bottom;
}

.wiersz_gra button {
  padding: 2rem;
  margin: 0;
  border: solid black .2rem;
  font-size: 1rem;
  border-radius: 4rem;
  background: #23238E;
  color: #f6f6f6;
  width: 49%;
}

#interfejs button:hover {
  cursor: pointer;
  color: #000;
  font-size: 2rem;
}
#reset_button {
  padding: 2rem;
  margin: 0;
  border: solid black .2rem;
  font-size: 1rem;
  border-radius: 4rem;
  background: #23238E;
  color: #f6f6f6;
  width: 100%;
}

#reset_button:hover {
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  background-color: #c96;
}

#tresc_gra  {
  padding: 0;
  margin: 0;
  border: solid black .2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background: #23238E;
  color: #f6f6f6;
  width: 100%;
  text-align: center;
}

#menu {
  float: left;
  width: 15%;
  background-color: #330066;
  text-align: center;
  height: 33rem;
  padding: 0;
  margin: 0;
}
#menu button {
  color: #ccff99;
  background: none;
  border-top: dotted .2rem black;
  width: 100%;
  margin: 0;
  padding: 0;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}

#menu button:hover {
  cursor: pointer;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: black .2rem solid;
  background: #c30;
  color: #000;

}

#naglowek {
  width: 100%;
  height: 225px;
  background: #306;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.65rem;
  letter-spacing: 1rem;
  color: #c96;
  font-family: "Aguafina Script";
}
#naglowek img {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 4rem;
}

#imie_div {
  text-align: center;
  font-size: 2rem;
  background: #23238E;
  color: #f6f6f6;
  padding: 2rem 0;
  line-height: 100%;
  width: 100%;
}

#dodaj_form {
  float: left;
  width: 100%;
  background-color: #330066;
  text-align: center;
  height: 33rem;
  padding: 0;
  margin: 0;
  display: block;
  color: #ccff99;
}
#ranking_zawartosc {
  width: 100%;
  height: 100%;
  background-color: #330066;
  color: #000;
  border: solid black 1px;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.ranking_wiersz {
  width: 100%;
  height: 1rem;
  float: top;
  text-align: center;
  border: solid white .4rem;
  margin-top: .2rem;
  padding: .5rem 0;
  line-height: .8rem;
}
